<%= form_for(@user, auto_html5_validation: false) do |f| %>
    <div class="input-container">
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-danger">
              The form contains <%= pluralize(@user.errors.count, 'error') %>:
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
      <% end %>
      <div class="edit-gravatar">
        <%= image_tag gravatar_image_url(current_user.email), alt: current_user.name, class: 'img-circle-small', width: 48, height: 48 %>
        <%= link_to 'Edit', 'https://de.gravatar.com/emails/' , :target => '_blank' %>
      </div>
      <div class="field">
        <%= f.email_field :email, :placeholder => 'email', class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.password_field :password, :placeholder => 'password', class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, :placeholder => 'confirm password', class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit 'Update' %>
        <%= f.submit 'Cancel' %>
      </div>
    </div>
<% end %>
