<div class="user-profile-header col-lg-12">
  <div class="col-lg-4">
    <h1>moosic</h1>
  </div>
  <div class="col-lg-4">
    <%= render 'searchform' %>
  </div>
  <div class="user-info-top col-lg-4">
    <div class="float-right">
      <p><%= current_user.name.downcase %></p>
      <% if current_user.image_url == nil %>
          <%= image_tag gravatar_image_url(current_user.email), alt: current_user.name, class: 'img-circle-small', width: 48, height: 48 %>
      <% else %>
          <%= image_tag current_user.image_url, alt: current_user.name, class: 'img-circle-small', width: 48, height: 48 %>
      <% end %>
    </div>
  </div>
  <div class="user-menu">
    <ul>
      <% if current_user.image_url == nil %>
        <li><%= link_to 'Settings', edit_user_path %></li>
      <% else %>
          <li><%= link_to 'Settings (not available with Social Login)', user_path(current_user) %></li>
      <% end %>
      <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    </ul>
  </div>
</div>