<div class="container-fluid show">
  <div class="row col-lg-12">
    <%= render 'userprofileheader' %>
    <div class="user-profile-container col-lg-12">
      <div class="user-info-left col-lg-3">
        <%= image_tag current_user.image_url, alt: current_user.name, class: 'img-circle-big center-block', width: 250, height: 250 %>
        <h3><%= current_user.name.downcase %></h3>
        <span class="separation-line"</div>
        <p>member since: <%= current_user.created_at.year %></p>
        <p>playlists: <%= current_user.count_playlists %></p>
      </div>
      <div class="playlists-list col-lg-offset-1 col-lg-7">
        <%= render :file => 'playlists/index', :collection => @playlists %>
      </div>
    </div>
  </div>
</div>



