<div class="container-fluid show">
  <div class="row col-lg-12">
    <%= render 'userprofileheader' %>
    <div class="user-profile-container col-lg-12">
      <div id="flash_messages" class="user-profile"><%= flash_messages %></div>
      <div class="user-info-left col-lg-3">
        <% if current_user.image_url == nil %>
            <%= image_tag gravatar_image_url(current_user.email), alt: current_user.name, class: 'img-circle-big center-block', width: 250, height: 250 %>
        <% else %>
            <%= image_tag current_user.image_url, alt: current_user.name, class: 'img-circle-big center-block', width: 250, height: 250 %>
        <% end %>
        <h3><%= current_user.name.downcase %></h3>
        <div class="separation-line"></div>
        <p>member since: <%= current_user.created_at.year %></p>
        <p>playlists: <%= current_user.count_playlists %></p>
      </div>
      <div class="playlists-list col-lg-offset-1 col-lg-7">
        <% if current_user.count_playlists == 0 %>
          <h4>no playlists available</h4>
        <% else %>
          <%= render :file => 'playlists/index', :collection => @playlists %>
        <% end %>
      </div>
    </div>
  </div>
</div>