<!DOCTYPE html>
<html>
<head>
  <title>Moosic</title>
  <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= include_gon %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
