<%= form_for(:session, url: authentication_path) do |f| %>
  <div class="input-container">
    <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              </div>
            </div>
        <% end %>
    <% end %>
    <div class="field">
      <%= f.email_field :email, :placeholder => 'email' %>
    </div>
    <div class="field">
      <%= f.password_field :password, :placeholder => 'password' %>
    </div>
    <div class="actions">
      <%= f.submit 'Log in' %>
    </div>
  </div>
<% end %>