<div class="container-fluid authentication">
  <div class="row">
    <div class="login-container col-xs-12 col-sm-6 col-md-4 col-lg-4 center-block">
      <h1>Login</h1>
      <%= render 'form' %>
      <div class="social-container">
        <%= link_to 'Facebook', :href => '/auth/facebook', :class => 'actions btn btn-block btn-md btn-social btn-facebook' do %>
            <span class="fa fa-facebook"></span> Sign in with Facebook
        <% end %>
        <%= link_to 'Twitter', :href => '/auth/twitter', :class => 'actions btn btn-block btn-md btn-social btn-twitter' do %>
            <i class="fa fa-twitter"></i> Sign in with Twitter
        <% end %>
        <%= link_to 'Google+', :href => '/auth/google', :class => 'actions btn btn-block btn-md btn-social btn-google-plus' do %>
            <span class="fa fa-google-plus"></span> Sign in with Google
        <% end %>
        <%= link_to 'SoundCloud', :href => '/auth/soundcloud', :class => 'actions btn btn-block btn-md btn-social btn-soundcloud' do %>
            <span class="fa fa-soundcloud"></span> Sign in with SoundCloud
        <% end %>
      </div>
      <div class="options-container">
      <p>no account yet?</p><%= link_to 'Register', '/signup', :class => 'register' %>
      </div>
    </div>
  </div>
</div>